/TareaVotos/nbproject/private/
/TareaVotos/build/
/TareaVotos1/nbproject/private/
/TareaVotos1/build/
/TareaVotos2/nbproject/private/
/TareaVotos2/build/
/TareaVotos3/nbproject/private/
/TareaVotos3/build/
/ejerciciosDePrimos/nbproject/private/
/ejerciciosDePrimos/build/
/PracticaPrimos/nbproject/private/
/PracticaPrimos/build/
/Practica multiplos/nbproject/private/
/Practica multiplos/build/
/VentasTienda/nbproject/private/
/VentasTienda/build/
/ActividadSena/nbproject/private/
/ActividadSena/build/
/actividadSenaJava/nbproject/private/
/actividadSenaJava/build/
/JavaApplication11/nbproject/private/
/JavaApplication11/build/
/Crud/nbproject/private/
