/TareaVotos/nbproject/private/
/TareaVotos/build/
/TareaVotos1/nbproject/private/
/TareaVotos1/build/
/TareaVotos2/nbproject/private/
/TareaVotos2/build/
/TareaVotos3/nbproject/private/
/TareaVotos3/build/
